* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-image: url('img/holmes.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Overlay with opacity */
  z-index: -1; /* Đưa overlay xuống dưới */
}

.header {
  height: 100px;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
}

ul li a {
  padding: 0 20px;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  display: inline-block;
}

li a::after {
  content: "";
  display: block;
  height: 4px;
  width: 0;
  background: rgb(47, 238, 255);
  transition: all 0.5s;
}

li a:hover::after {
  width: 100%;
}

.search-bar-container {
  margin: auto;
  position: relative;
  border: 2px solid;
  padding: 0 10px;
  border-radius: 50px;
}

.search-bar-element {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

#search {
  border: none;
  border-radius: 50px;
  padding: 0 5px;
}

#search:focus {
  outline: none;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  opacity: 1;
  padding: 20px;
}

.left-section,
.right-section {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.right-section p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: calc(1.5em * 3);
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .left-section,
  .right-section {
    flex: 80%;
  }
  
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  /* moz-transition: all .4s ease-in-out; */
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  /* moz-transition: all .4s ease-in-out; */
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color {
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.description {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 20px;
}

.book-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.book-details .detail {
  flex: 1;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.detail strong {
  font-size: 14px;
  color: #888;
  margin-bottom: 8px;
}

.detail br {
  margin-top: 5px;
  line-height: 1.5;
}

.parent {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.book-card {
  margin: 0 auto;
  width: 320px;
  padding: 24px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.book-card__cover {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 0 auto 8px auto;
  perspective: 1000px;
}

.book-card__book {
  height: 100%;
  transform-style: preserve-3d;
  transition: all 250ms ease;
}

.book-card__book-front,
.book-card__book-back,
.book-card__book-side {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.book-card__book-back {
  transform: translateZ(-40px);
}

.book-card__book-side {
  right: -29px;
  width: 40px;
  background-size: 5px;
  background-color: #e1e1e1;
  background-image: linear-gradient(to right, #ccc 35%, #e1e1e1 35%);
  opacity: 0;
  transform: rotate3d(0, 1, 0, 90deg);
}

.book-card__img {
  width: 100%;
  height: 100%;
  background-color: #e1e1e1;
}

.book-card__title {
  font-size: 1.5em;
  margin-bottom: 8px;
}

.book-card__author {
  color: #757575;
  font-size: 1em;
}

.book-card:hover .book-card__book {
  transform: rotate3d(0, -1, 0, 30deg) translate(-15px, -30px);
}

.book-card:hover .book-card__book-back {
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.35);
}

.book-card:hover .book-card__book-side {
  opacity: 1;
}

footer {
  background-color: rgba(0, 0, 0, 0.87);
}

.footerContainer {
  width: 100%;
  height: 250px;
  padding: 70px 30px 20px;
}

.Icon-socialNetWork {
  display: flex;
  justify-content: center;
}

.Icon-socialNetWork a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.Icon-socialNetWork a i {
  font-size: 2em;
  color: black;
  opacity: 0.9;
}

.Icon-socialNetWork a:hover {
  background-color: black;
  transition: 0.5s;
}

.Icon-socialNetWork a:hover i {
  color: white;
  transition: 0.5s;
}

.footer-nav {
  margin: 30px 0;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
}

.footer-nav ul li a {
  color: white;
  margin: 20px;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

.footer-nav ul li a:hover {
  opacity: 1;
}

.footerBottom {
  background-color: black;
  padding: 20px;
  text-align: center;
}

.footerBottom p {
  font-size: 1.2em;
  color: white;
}

.Designer {
  color: yellow;
}
